/**
 * Place your custom styles here.
 */

body{
	background:#fff;
	color:#333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;	
}

p {
    text-align: justify;
}

td p {
text-align: initial;
} 

td {
    background: #fffcf3 none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #003399;
    overflow: hidden;
    padding: 3px 5px;
    vertical-align: top;
}
	
h1, .h1 {
 font-size: 22px;
}
 
h3, .h3 {
 font-size: 20px;
}
 
.navbar-default {
    background-color: #fff;
    border-color: #fff;
 }
 
 .navbar-nav {
 clear: both;
 text-align: centre;
 left: 200px;
 }
 
 .navbar-nav > li > a { 
    background: #003399 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font: 110% Verdana,Arial,sans-serif;
    margin: 0;
    padding: 3px 10px 5px;
    text-align: left;

} 
.col-sm-12 {
    background: #003399;
	margin: -10px 15px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #fed202;
  text-decoration: none;
  color: #000;
}

 .col-sm-3 .well {
 
 padding: 10px 0 10px 6px;
 
 }

.views-field-field-participant-logo  img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 62px;
 width: 135px;
 } 
 
 .view-participating-institutes .view-display-id-shortlist, .view-display-id-shortlist  .views-field-title, .views-field-field-participant-country {
 text-align: center;
 }
 
 .view-display-id-shortlist  .views-field-field-participant-country {
 
 padding: 0 0 10px;
 }
 
 .field--name-field-event-image, .field--name-field-participant-logo {
  float: right;
  margin: 15px;
 }
 
.views-label-field-participant-internet,
.views-label-field-participant-email,
.views-label-field-participant-tel,
.views-label-field-participant-fax,
.views-label-field-participant-address1 {
    clear: both;
    background: url("/sites/default/files/images/th_bgh.png") repeat-y scroll 0 0;
    border-left: 0 solid #003366;
    border-right: 1px solid #fff;
    color: #003399;
    font-weight: 100;
    padding: 0 5px;
    text-align: left;
    vertical-align: top;
	width: 25%;
	float: left;
	min-height: 20px;
}
.views-label-field-participant-address2,
.views-label-field-participant-postcode {
clear: both;
background: url("/sites/default/files/images/th_bgh.png") repeat-y scroll 0 0;
    border-left: 0 solid #003366;
    border-right: 1px solid #fff;
    color: #003399;
    font-weight: 100;
    padding: 0 5px;
    text-align: left;
    vertical-align: top;
	width: 25%;
	float: left;
	min-height: 20px;

}

.views-field-field-participant-internet .field-content,
.views-field-field-participant-email .field-content,
.views-field-field-participant-tel .field-content,
.views-field-field-participant-fax .field-content,
.views-field-field-participant-address1 .field-content,
.views-field-field-participant-address2 .field-content,
.views-field-field-participant-postcode  .field-content {
	background: #fffcf3 none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #003399;
    overflow: hidden;
    padding: 0 5px;
    vertical-align: top;
	min-height: 20px;
	}
	
/* Events' images */

.field--name-field-event-pictures .field--item {
display: block;
float: left;
padding: 5px;
}

.field--label {
clear: both;
}	

.event .field--name-body  p {
padding: 10px 0 5px 0;
}

.event .field--name-field-event-image {
padding: 0px;
}
	
/* Blocks */

/* Newsletter */

#block-subscribetothenewsletter {
margin: 10px 0;
}
/* #block-views-block-news-block-1 */

.block-title, #block-euparl-tools  h2{
	display: table-caption;
	background: #003399 none repeat scroll 0 0;
    color: #fff;
	font-size: 15px;
    font-weight: bold;
	border-left: 0 solid #fff;
    border-top: 0 solid #fff;
    margin: 10px 0 20px 0;
    padding: 5px;
    text-align: left;
}	


.views-field-field-news-date  .field-content,
.views-field-field-event-commences  .field-content {
  float: right;
  margin: 0 0 0 0.5em;
  color: #999;
 }
 
.view-news, .view-events {
padding: 0 0 0 10px;
}

.region-sidebar-first {
margin: 0 0 0 20px;
}

#block-views-block-news-block-1 .views-field-title	{
margin:  0 0 10px 0;
}


